@use "../../styles/partials/global" as *;

.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    padding-right: 1rem;
    padding-left: 1rem;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.SectionTitle {
    font-size: 35px;
    color: white;
    font-weight: 700;
    margin-bottom: 3.5rem;
}