@use "./variables" as *;

// Breakpoints
@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
        @content;
    }
}

@mixin flex-style($align, $justify, $text, $wrap, $direction) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    text-align: $text;
    flex-wrap: $wrap;
    flex-direction: $direction;
}