// breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// colors
$background-color: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
// $background-color: yellow;
$primary-color:  #38495a;
$primary-text-color: #4FC3F7; // Light sky blue, vibrant but not too harsh
$secondary-text-color: #B0C4DE;
$accent-color: #00FFFF; // button, links, highlights
$hover-color: #f0f4f7;
$cta-color: #8A2BE2; // call to action button
$warning-color: #f9f6f7;
$success-color: #00A896;
$contrast-color: #FFD700;
$neon-base-color:  white;
$neon-color: 0px 0px 18px cyan,
             0px 0px 20px cyan,
             0px 0px 40px cyan,
             0px 0px 80px cyan;
